:root {
	--font-weight-bold: 600;
	--font-weight-normal: 400;
	--font-weight-small: 300;
	--font-weight-thin: 200;
	--main-deep-dark: #111111;
	--main-deep-purple: #5a61ed;
	--main-deep-red: #ff2222;
	--main-deep-grey: #7c7c7c;
	--main-deep-white: #f2f2f2;
}
