.input-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--main-deep-white);
	& > label {
		font-size: 12px;
		line-height: 14px;
		font-weight: var(--font-weight-small);
	}
	& > input {
		font-size: 14px;
		line-height: 16px;
		font-weight: var(--font-weight-bold);
		height: 16px;
		padding: 5px 0 6px;
	}
	&.invalid {
		color: var(--main-deep-red);
		border-bottom: 1px solid var(--main-deep-red);
	}
}
