@import url("@fontsource/pt-sans");

.signup-wrapper {
	font-family: "Work Sans", "sans-serif";
	display: flex;
	width: 665px;
	height: 480px;
}

.aside-title {
	display: flex;
	flex-shrink: 0;
	flex-basis: 137px;
	background-color: var(--main-deep-purple);
}

.signup-container {
	display: flex;
	flex: 1 0;
	flex-direction: column;
	gap: 20px;
	padding: 38px 22px 32px;
	background: white;
}

.heading-container {
	& > h2 {
		font-size: 22px;
		line-height: 26px;
		font-weight: var(--font-weight-bold);
		letter-spacing: -0.46px;
	}
	& > p {
		font-size: 14px;
		line-height: 16px;
	}
}

.form-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.bottom-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.redirect-description {
	font-size: 13px;
	line-height: 15px;
	font-weight: 200;
	& > a {
		font-weight: 500;
		color: var(--main-deep-purple);
	}
}

.submit-button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 154px;
	height: 32px;
	background-color: var(--main-deep-purple);
	color: var(--main-deep-white);
	cursor: pointer;
}
